@use "../../styles/abstracts/spacing" as s;
@use "../../styles/abstracts/colors" as c;
@use "../../styles/abstracts/type" as t;

.stats-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: c.$color-bg-surface;
  border-radius: s.$space-4;
  padding: s.$space-2;

  .stats-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: s.$space-2;

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  
    .stats {
      display: flex;
      flex-direction: column;

      span {
        font-size: t.$fs-lg;
        font-weight: t.$fw-bold;
      }

      span:first-child {
        font-size: t.$fs-xs;
        font-weight: t.$fw-bold;
        color: c.$color-text-secondary;
      }

      span:first-child ~ span {
        color: c.$color-text-primary;
      }

      &--large {
        span:nth-child(2) {
          font-size: t.$fs-3xl;
        }

        span:nth-child(3) {
          font-size: t.$fs-xl;
        }

        span:nth-child(4) {
          font-size: t.$fs-base;
        }
      }
    }
  }
}