@use "../../styles/abstracts/colors" as c;
@use "../../styles/abstracts/spacing" as s;

.divider {
  height: s.$space-1;
  border-radius: s.$space-1;
  background-color: c.$color-text-muted;
  width: 100%;
  margin: s.$space-2 0;
}